@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.header{
    height:60px;
    background-color: #65499c;
    display: flex;
    justify-content:space-between;
    padding: 0px 50px;
}

.header .title{
    color:white;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header .name{
    color:white;
    letter-spacing: 1px;
}

.container{
    padding:20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:1em;
}

.card{
    background-color: #ede7f6;
    padding:10px;
    border-radius:5px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
    display: flex;
    position: relative;
}

.card:hover{
    background-color: #65499c;
    cursor: pointer;
}

.card:hover a{
    color: white;
}

.card:hover .number{
    color:rgba(225,225,225,0.5);
}

a{
    text-decoration: none;
    color:#65499c;
    width: 100%;
    padding:10px;
}

.number{
    position:absolute;
    top:0;
    right:20px;
    /* width: 100%; */
    height:100%;
    text-align: right;
    font-size: 50px;
    color: rgba(101,73,156,0.3);
    background-color: red;
}
